[Unit]
StartLimitIntervalSec=30
StartLimitBurst=5
Description=mk-clock Bluetooth speaker audio forwarder
Requires=mk-clock-bluealsa.service
After=mk-clock-bluealsa.service sound.target

[Service]
Type=simple
ExecStart=/usr/local/lib/mk-piclock/mk-clock-bluealsa-aplay
Restart=on-failure
RestartSec=2

NoNewPrivileges=true
ProtectHome=true
ProtectSystem=strict
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictSUIDSGID=true
LockPersonality=true
ProtectKernelLogs=true
ProtectClock=true
RestrictAddressFamilies=AF_UNIX

[Install]
WantedBy=multi-user.target
